# Local development settings. Copy to .env before make up.
HTTP_PORT=9290
PGHOST=127.0.0.1

# postgres
PGPORT=6545
PGDATABASE=sharetrip_notification
PGUSER=postgres
PGPASSWORD=admin
PGSSLMODE=disable
